<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BSRollView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4752BF051CA13C5F00F540CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4752BF1E1CA13C5F00F540CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4752BF291CA13C5F00F540CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
